<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>EveryDay News</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="icon" href="./static/favicons/favicon.ico" type="image/x-icon" />
    </head>
    <body style="background-color: 	rgba(248,248,255,1)">
    <div class="container">
    	<div style="border:solid;border-color:rgb();background-color:rgba(91,192,222,0.07);margin-top: 1%;">
    		<div class="row" style="padding-top:.5%;">
                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1 float-left" style="margin-top: 0.75%;">
                	<!-- <img src="./static/favicons/android-chrome-512x512.png" alt="EDN" style="max">    -->
 					<a href="{{url_for('home')}}">
 						<d style="font-size:150%;padding-left:50% ;color:#1A1110;">EVERYDAYNEWS</d>
 					</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3"></div>
                <div class="col-lg-4 col-md-4 col-sm-5 sol-xs-5">
                    <div style="float:right;">
                        <div class="row">
                            <form class="form-inline" method="POST" style="padding-top: 2.5%;padding-bottom: 2.5%;" action="/">
                                    <input class="form-control " type="search" placeholder="Search" aria-label="Search" name="search" >
                                    <button class="btn btn-success" type="submit" >Search</button>
                                </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1" style="margin-top: 0.75%;padding-left:2%;">
                	<a href="{{ url_for('about') }}">
                		<d style="font-size:150%;color:#1A1110;">ABOUT</d>
                	</a>
                </div>
            </div>
    	</div>
    </div>
    {% block body %}
    {% endblock %}
    </body>
</html>